<h1><%= @question.title %></h1>

<p>
  <%= @question.content %>
</p>

<small>asked by <%= link_to @question.author.username, user_url(@question.author) %></small>
<small><%= link_to "Edit", edit_question_url(@question) %></small>
