<form class="login-form form">
  <h1>Log In!</h1>

  <div class="input">
    <label for="name-or-email">Username or Email: </label>
    <input type="text"
           id="name-or-email"
           name="user[name_or_email]">
  </div>


  <div class="input">
    <label for="password">Password: </label>
    <input type="password"
           id="password"
           name="user[password]">
  </div>

  <div class="buttons group">
    <button class="submit login">Log In</button>
    <button class="guest submit">Guest Log In</button>
  </div>
</form>
