<span class="close-modal">&times;</span>

<div class="input">
  <label for="input-user-image">Image</label>

  <input type="file" id="input-user-image" name="user[image]">
</div>

<img src="" id="preview-user-image" />

<button class="submit">Submit</button>
