<section class="sort group">
  <h1 class="header"></h1>

  <ul class="sort-options group">
    <li class="option" data-sort="created_at">Newest</li>
    <li class="option" data-sort="questions_count">Questions</li>
    <li class="option" data-sort="answers_count">Answers</li>
  </ul>
</section>

<ul class="users">
  <% users.each(function(user) { %>
    <li>
      <a href="#/users/<%= user.id %>">
        <%= user.escape('username') %>
      </a>
    </li>
  <% }); %>
</ul>

<section class="pagination group"></section>
