<h1><%= user.escape('username') %></h1>

<table class="attributes">
  <tr>
    Email: <%= user.escape('email') %>
  </tr>
</table>

<h3>Questions asked by <%= user.escape('username') %></h3>
<ul class="user-questions"></ul>

<h3>Questions answered by <%= user.escape('username') %></h3>
<ul class="user-answered-questions"></ul>
