<h1><%= user.escape('username') %></h1>

<table class="attributes">
  <tr>
    <td class="attribute">
      Email
    </td>
    <td class="value">
      <%= user.escape('email') %>
    </td>
  </tr>
</table>

<section class="questions group">
  <section class="user-asked">
    <h3>Questions asked by <%= user.escape('username') %></h3>
    <ul class="user-questions"></ul>
  </section>

  <section class="user-answered">
    <h3>Questions answered by <%= user.escape('username') %></h3>
    <ul class="user-questions"></ul>
  </section>
</section>
