<p class="comment-content">
  <%= comment.escape('content') %>
</p>

<form class="answer-form edit-comment hidden group">
  <textarea><%= comment.escape('content') %></textarea>
  <button class="submit">Edit</button>
  <button class="cancel">Cancel</button>
</form>

<small class="comment-author">answered by
  <a href="#/users/<%= comment.author.id %>">
    <%= comment.author.escape('username') %>
  </a>
</small>
