<h1>Ask a Question!</h1>

<div class="input">
  <label for="title">Title: </label>
  <input type="text"
         name="question[title]"
         id="title"
         value="<%= question.escape('title') %>">
</div>

<div class="input">
  <textarea name="question[content]"
            placeholder="write here..."><%= question.escape('content') %></textarea>
</div>

<div class="tag-widget">
  <h3>Tags</h3>
  <ul class="selected-tags"></ul>

  <input class="search" type="text" placeholder="search...">

  <ul class="question-tags group"></ul>
</div>

<button class="submit">Submit</button>

<script type='text/javascript'>

</script>
