<section class="sort group">
  <h1 class="header"></h1>

  <ul class="sort-options group">
    <li class="option">Newest</li>
    <li class="option">Votes</li>
    <li class="option">Views</li>
    <li class="option">Answers</li>
  </ul>
</section>

<ul class="questions"></ul>
