<section class="sort group">
  <h1 class="header"></h1>

  <ul class="sort-options group">
    <li class="option" data-sort="created_at">Newest</li>
    <li class="option" data-sort="vote_count">Votes</li>
    <li class="option" data-sort="view_count">Views</li>
    <li class="option" data-sort="answers_count">Answers</li>
  </ul>
</section>

<ul class="questions"></ul>
