/*
 *= require_tree .
 *= require_self
 */

/* resets */

body, header, nav, ul, li, a, button, form, input, textarea,
h1, h2, h4, h5, h3, p, span, small, aside, article, section,
table, td, tr, th {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;
}

ul {
 list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

table {
  border-spacing: 0;
}

main {
  width: 1000px;
  margin: auto;
}

body {
  font-family: sans-serif;
  background: #eee;
  margin-bottom: 100px;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
  background: #333;
  padding: 2px 5px;
}

/* utils */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.error {
  border: 1px solid #f00 !important;
}

ul.question-tags > li {
  float: left;
  font-size: 12px;
  margin-right: 5px;
}

span.edit {
  text-decoration: underline;
  cursor: pointer;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  z-index: 3;
  top: 200px;
  right: 500px;
}

.modal-form span.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #00f;
}

.modal-form span.close-modal:hover {
  cursor: pointer;
  color: #f00;
}

li.inactive {
  color: #000 !important;
}

li.inactive:hover {
  cursor: default !important;
}

/* pagination */

section.pagination {
  margin: auto;
  padding: 50px 0;
  width: 260px;
  position: relative;
}

.pagination > span, .pagination > ul {
  color: #00f;
  position: absolute;
}

.pagination > span:hover {
  cursor: pointer;
}

.pagination > span.prev {
  left: 40px;
}

.pagination > ul {
  left: 80px;
}

.pagination > span.next {
  right: 40px;
}

.pagination > span.last {
  right: 0;
}

ul.pages > li {
  padding: 0 5px;
  float: left;
}

ul.pages > li:hover {
  cursor: pointer;
}

/* header */

header {
  width: 1000px;
  margin: auto;
}

ul.user-nav {
  float: right;
}

ul.user-nav > li {
  float: left;
}

ul.user-nav > li a {
  display: block;
  padding: 10px;
}

/* main nav */

a.logo {
  background: #fff;
  border-radius: 5px;
  float: left;
  width: 225px;
}

nav.main-nav {
  padding: 20px;
}

nav.main-nav ul.main-nav-links {
  padding-top: 72px;
  float: right;
}

ul.main-nav-links > li {
  float: left;
}

ul.main-nav-links > li a {
  display: block;
  margin-left: 30px;
  font-size: 30px;
}

/* questions index */

section.sort {
  border-bottom: 2px solid #ccc;
  margin: 10px 0 40px 0;
}

h1.header {
  float: left;
  margin: 0;
}

ul.sort-options {
  float: right;
  margin-top: 10px;
}

ul.sort-options > li {
  float: left;
  margin-left: 10px;
  color: #00f;
}

ul.sort-options > li:hover {
  color: #f00;
  cursor: pointer;
}

ul.questions {

}

ul.questions > li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

li.question .question-data {
  float: left;
  margin-right: 20px;
  padding: 3px 0;
}

li.question > ul.answered {
  font-weight: bold;
}

li.question .question-info {
  float: left;
}

.question-info > a {
  display: block;
  font-size: 20px;
}

/* question show */

section.question-info {
  margin-bottom: 50px;
}

section.question-info span.view-count {
  display: block;
  margin-bottom: 10px;
}

section.question-info p.question-content {
  font-size: 20px;
  margin: 10px 0;
}

section.question-meta {
  float: left;
}

section.question-meta small.question-author {
  display: block;
  margin-bottom: 5px;
}

small.question-author a {
  color: #00f;
}

section.voting {
  margin-top: 10px;
  display: inline-block;
}

section.favoriting {
  clear: both;
  display: inline-block;
  margin-left: 20px;
}

section.commenting {
  float: right;
}

.commenting h4 {
  font-size: 18px;
  font-weight: bold;
}

.commenting span.new-question-comment, span.new-answer-comment {
  text-decoration: underline;
  cursor: pointer;
}

.commenting span.new-question-comment:hover, span.new-answer-comment:hover {
  color: #f00;
}


  /* answers in question show */

  section.question-answers {
    padding: 20px;
  }

  ul.answers {
  }

  ul.answers > li.answer {
    margin-bottom: 40px;
  }

  li.answer section.answer-meta {
    float: left;
  }

  li.answer p.answer-content {
    margin-bottom: 10px;
    font-size: 18px;
  }

  li.answer small.answer-author {
    font-size: 14px;
    display: block;
  }

  small.answer-author a {
    color: #00f;
  }

  a.new-answer-link {
    color: #00f;
  }

/* comments */

ul.comments {
  margin-bottom: 10px;
  width: 300px;
}

ul.comments > li {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

p.comment-content {
  margin-bottom: 5px;
}

small.comment-author {
  font-size: 12px;
  display: block;
}

small.comment-author > a {
  color: #00f;
}

/* users index */

ul.users {

}

ul.users > li {
  margin-bottom: 5px;
}

/* users show */

h1.username {
  border-bottom: 1px solid #ccc;
}

.profile-info {
  margin: 20px 0;
}

.profile-pic {
  float: left;
  width: 150px;
  margin-right: 20px;
  border: 3px solid #ccc;
  position: relative;
}

.new-image-link {
  position: absolute;
  font-size: 14px;
  left: 6px;
}

table {
  float: left;
  border: 1px solid #000;
}

tr {

}

td {
  padding: 10px;
}

td.attribute {
}

td.value {
  background: #BBB;
}

span.user-attr {
  margin-left: 10px;
}

.user-edit-input {
  width: 440px;
  padding: 5px 10px;
}

  /* questions in users show */

  section.questions {
    background: #fff;
    padding: 20px;
  }

  section.user-asked {
    width: 50%;
    float: left;
  }

  section.user-answered {
    width: 50%;
    float: left;
  }

  ul.user-questions {

  }

  ul.user-questions > li {
    margin-bottom: 20px;
  }

/* tags index */

ul.tags {

}

ul.tags > li {
  margin-bottom: 5px;
}

/* tag show */

section.tag-info {
  margin-bottom: 50px;
}

  /* questions in tag show */

  ul.tag-questions {

  }

  ul.tag-questions > li {
    margin-bottom: 20px;
  }

/* form stuff */

form.form {
  border-radius: 5px;
  padding: 40px;
  margin: auto;
  width: 500px;
  background: #fff;
}

form.form > h1 {
  font-size: 33px;
  text-align: center;
}

form.form .input {
  margin-bottom: 15px;
}

.input label {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.input input, textarea {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 440px;
}

.input textarea {
  height: 150px;
}

.input input:active, input:focus, textarea:active, textarea:focus {
  border: 1px solid #999;
}

.submit {
  font-size: 18px;
  display: block;
  margin: auto;
  background: #333;
  color: #fff;
  padding: 10px;
}

/* guest log in */

.login-form .buttons {
  display: block;
  margin: auto;
  width: 50%;
}

.login-form button {
  display: inline-block;
  margin: auto;
}

/* markdown preview */

p.markdown-preview {
  border: 1px inset #ccc;
  min-height: 70px;
  background: #eee;
  width: 440px;
  padding: 5px;
  margin-bottom: 10px;
}

/* answer form */

form.answer-form {

}

.answer-form textarea {
  height: 150px;
  margin-bottom: 5px;
  background: #fff;
}

.answer-form .submit, .cancel {
  float: left;
  margin: 10px;
  padding: 10px;
  font-size: inherit;
}

/* search widget */

input.search {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

input.search:active, input.search:focus {
  border: 1px solid #999;
}

.tag-widget .question-tags {
  margin-bottom: 20px;
}

.tag-widget .question-tags > li {
  cursor: pointer;
}

.selected-tags {
  margin-bottom: 5px;
}

.selected-tags span {
  cursor: pointer;
  margin-left: 10px;
  color: #00f;
}

.selected-tags span:hover {
  color: red;
}
