<section class="sort group">
  <h1 class="header"></h1>

  <ul class="sort-options group">
    <li class="option" data-sort="tag_name">Name</li>
    <li class="option" data-sort="questions_count">Questions</li>
  </ul>
</section>

<ul class="tags">
  <% tags.each(function(tag) { %>
    <li>
      <a href="#/tags/<%= tag.id %>">
        <%= tag.escape("tag_name") %>
      </a>
    </li>
  <% }); %>
</ul>

<section class="pagination group"></section>
