<section class="tag-info">
  <h1><%= tag.escape("tag_name") %></h1>

  <p>
    <%= tag.escape("description") %>
  </p>
</section>

<section class="questions">
  <h3>Questions</h3>
  <ul class="tag-questions"></ul>
</section>
